*{
    padding: 0px;
    margin: 0px;
}
body p{
    font-family: Ebrima;
}
header{
    width: 100%;
    height:230px;
    background: #5AFFB0;
}
header h1{
    font-family:Arial Black;
    font-size: 100px;
    position: relative;
    font-weight: bold;
    margin: 70px 30px;
}
.Perfil img{
    width: 250px;
    height: 270px;
    margin: 30px 40px 40px ;
    border-radius: 10px;
}
.Perfil p {
    font-family: Ebrima;
    font-size: 32px;
    width: 65%;
    float: right;
    margin:60px 50px 100px;
}
.Experiencia h1{
    font-family: Ebrima;
    margin-top: 40px;
    font-size: 35px;
    text-align: center;
}
.Experiencia li{
    margin-left: 60px;
    padding-top: 80px;
    font-family: Ebrima;
    font-size: 20px;
    list-style-type: star;
}
.Experiencia p {
    margin: -50px 50px;
    font-size: 24px;
    width: 45%;
    float: right;
}
.Experiencia hr {
    margin: 0px 520px;
    position: absolute;
    width: 270px;
}
.Habilidad li{
    font-size: 20px;
    font-family: Ebrima;
    display: inline-block;
}
.Li{
    text-align: center;
}
footer{
    background: #9D9125;
    width:99.6%;
    height: 80px;
    margin: 3px 3px 3px;
    color: #fff;
    font-size: 20px;
}
footer p{
    position: absolute;
}
footer img{
    position:absolute;
    width: 50px;
    height: 45px;
}
.Contacto{
   font-family: Consolas;
    margin: 14px 70px;
    font-size: 40px;
}
.Icon_Gmail{
  margin: 17px 320px;  
}
.Gmail{
    font-size: 24px;
   
    margin: 24px 400px;
}
.Icon_Telefono{
    margin: 14px 800px;
}
.Telefono{
    margin: 24px 870px;
    font-size: 24px;
}